module.exports = {
  apps: [
    {
      name: "{{ item.name }}-{{ item.env }}",
      cwd: "{{ item.repo_root }}",
      script: "{{ item.package_manager | default('pnpm') }}",
      args: "{{ 'start' if (item.package_manager | default('pnpm')) == 'pnpm' else 'run start' }}",
      env_file: "{{ item.repo_root }}/.env",
      env: {
        // You generally want production for test & prod because you're running the built app
        NODE_ENV: "production",
        APP_ENV: "{{ item.env }}",
        PORT: "{{ item.port }}"
      }
    }
  ]
};
